#
# Toolchain setup
#
CROSS_COMPILE="riscv64-unknown-elf-"
ADDITIONAL_CFLAGS=""
ADDITIONAL_LDFLAGS=""
export LKM_FLAGS="-DARCH64"
CFLAGS_FOR_BUILD="-g -O2 -DCONFIG_SMP"

#
# Memory Management
#

#
# Schedule
#
# SCHEDULER_RR is not set
SCHEDULER_MLFQ=y

#
# Filesystem
#
HAVE_SFS=y
SFS_IMAGE_SIZE=48
# HAVE_YAFFS2 is not set
# HAVE_FATFS is not set

#
# Linux Device Driver Environment
#
